				* {
					margin: 0;
					padding: 0;
					box-sizing: border-box;
				}
				body {
					width: 100%;
					height: 80vh;
				}
				div {
					text-align: center;
				}
				.areacontainer {
					width: 100%;
					height: 100%;
					display: flex;
					background-color: #000000;
				}
				textarea {
					outline: none;
					flex: auto;
					resize: none;
					background-color: white;
					border: none;
					padding-left:5px ;
				}
				.areacontainer textarea:nth-child(1){
					border-right: 1px solid #cccccc;
				}
				.titleContainer{
					display: flex;
				}
				.titleContainer div{flex:2;}